*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
/.vs/ZemogaTest/v16/.suo
/ZemogaTest.Domain/bin/Debug/netcoreapp3.1/ZemogaTest.Domain.dll
/ZemogaTest.Domain/bin/Debug/netcoreapp3.1/ZemogaTest.Domain.pdb
/ZemogaTest.Domain/obj/Debug/netcoreapp3.1/ZemogaTest.Domain.dll
/ZemogaTest.Domain/obj/Debug/netcoreapp3.1/ZemogaTest.Domain.pdb
/ZemogaTest.Repository/bin/Debug/netcoreapp3.1/ZemogaTest.Repository.dll
/ZemogaTest.Repository/bin/Debug/netcoreapp3.1/ZemogaTest.Repository.pdb
/ZemogaTest.Repository/obj/Debug/netcoreapp3.1/ZemogaTest.Repository.csproj.CoreCompileInputs.cache
/ZemogaTest.Repository/obj/Debug/netcoreapp3.1/ZemogaTest.Repository.dll
/ZemogaTest.Repository/obj/Debug/netcoreapp3.1/ZemogaTest.Repository.pdb
/ZemogaTest.Services/bin/Debug/netcoreapp3.1/ZemogaTest.Services.dll
/ZemogaTest.Services/bin/Debug/netcoreapp3.1/ZemogaTest.Services.pdb
/ZemogaTest.Services/obj/Debug/netcoreapp3.1/ZemogaTest.Services.csproj.CoreCompileInputs.cache
/ZemogaTest.Services/obj/Debug/netcoreapp3.1/ZemogaTest.Services.dll
/ZemogaTest.Services/obj/Debug/netcoreapp3.1/ZemogaTest.Services.pdb
