<app-nav-menu></app-nav-menu>

<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Author : {{post.authorUsername}}</label>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <input
            class="form-control"
            type="text"
            [(ngModel)]="post.title"
            name="Title"
            placeholder="Title"
            [disabled] = "!isSameUser || isPublished || isPendingApproval"
        />
    </div>
    <div class="form-group">
        <label>Content</label>
        <textarea 
            type="text"
            [(ngModel)]="post.content"
            name="content"
            placeholder="Content" 
            class="form-control" 
            [disabled] = "!isSameUser || isPublished || isPendingApproval"
            rows="3">
        </textarea>
        <button type="submit" class="btn btn-primary" (click)="Update()" *ngIf = "isSameUser && !isPublished && !isPendingApproval">Update</button>
        <button type="submit" class="btn btn-warning" (click)="SendApproval()" *ngIf = "isSameUser && !isPublished && !isPendingApproval">Send for approval</button>
        <div *ngIf = "isRejected">
            Decision: 
            <input
                type="text"
                [value] ="post.statusMessage"
                name="content"
                class="form-control" 
                placeholder="content"
                readonly
            />
        </div>
    </div>
</form>

<form>
    <div class="form-group" *ngIf = "role == 'Editor' && !isPublished">
        <hr>
        <textarea 
            type="text"
            [(ngModel)]="decisionModel.message"
            name="decision"
            placeholder="Decision Message" 
            class="form-control" 
            rows="3">
        </textarea>
        <hr>
        <button type="submit" class="btn btn-success" (click)="Decision(0)">Publish</button>
        <button type="submit" class="btn btn-warning" (click)="Decision(1)">Reject</button>
    </div>
</form>

<div class="container mt-5 mb-5" *ngIf = "isPublished">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
            <div class="coment-bottom bg-white p-2 px-4">
                <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                    <input type="text" class="form-control mr-3" placeholder="Add comment" [(ngModel)]="comment.content">
                        <button class="btn btn-primary" type="button" (click)="AddComment()">Comment</button>
                </div>
                <div class="commented-section mt-2" *ngFor="let comment of post.comments">
                    <div class="d-flex flex-row align-items-center commented-user">
                        <h5 class="mr-2">{{comment.authorUsername}}</h5><span class="dot mb-1"></span><span class="mb-1 ml-2">{{comment.createdDate | date:'medium' }}</span>
                    </div>
                    <div class="comment-text-sm"><span>{{comment.content}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
