<app-nav-menu></app-nav-menu>
<div>
    <div>
        <h3>Author: {{post.authorUsername}}</h3>
        <div class="container">
            <input
                type="text"
                [(ngModel)]="post.title"
                name="title"
                placeholder="title"
                [disabled] = "!isSameUser"
            />
        </div>
        <div class="container" style="background-color:white">
            <input
                type="text"
                [(ngModel)]="post.content"
                name="content"
                placeholder="content"
                [disabled] = "!isSameUser"
            />
            <button type="submit" (click)="Update()" *ngIf = isSameUser>Update</button>
            <button type="submit" (click)="SendApproval()" *ngIf = "isSameUser && !isPublished && !isPendingApproval">Send for approval</button>
        </div>
        <div *ngIf = "role == 'Editor' && post.status != 'Published'">
            <hr>
            <button type="submit" (click)="Publish()">Publish</button>
            <button type="submit" (click)="Reject()">Reject</button>
            <input
                type="text"
                [(ngModel)]="decisionMessage"
                name="message"
                placeholder="message"
            />
        </div>
    </div>
    <hr>
    <div class="container" style="background-color:white">
        Comments
        <div *ngFor="let comment of post.comments">
            <h4>Comment Author: {{comment.authorUsername}}</h4>
            <h5>Comment: {{comment.content}}</h5>
            <h6>Comment date: {{comment.createdDate}}</h6>
            <hr>
        </div>
    </div>
    <hr>

    <div class="container" style="background-color:white">
        Add new comment
        <div>
            <input
                type="text"
                [(ngModel)]="comment.content"
            />
        </div>
        <button type="submit" (click)="AddComment()">Add comment</button>
    </div>
</div>