<app-nav-menu></app-nav-menu>
<!-- <div>
    <div>
        <h3>Author: {{username}}</h3>
        <div class="container">
            <input
                type="text"
                [(ngModel)]="post.title"
                name="title"
                placeholder="title"
            />
        </div>
        <div class="container" style="background-color:white">
            <input
                type="text"
                [(ngModel)]="post.content"
                name="content"
                placeholder="content"
            />
    </div>
    <button type="submit" (click)="Create()">Create</button>
    <hr>
</div> -->


<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Author : {{username}}</label>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <input
            class="form-control"
            type="text"
            [(ngModel)]="post.title"
            name="Title"
            placeholder="Title"
        />
    </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Content</label>
    <textarea 
        type="text"
        [(ngModel)]="post.content"
        name="content"
        placeholder="Content" 
        class="form-control" 
        id="exampleFormControlTextarea1" 
        rows="3">
    </textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="Create()">Create</button>
</form>