<app-nav-menu></app-nav-menu>
<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Author : {{username}}</label>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <input
            class="form-control"
            type="text"
            [(ngModel)]="post.title"
            name="Title"
            placeholder="Title"
        />
    </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Content</label>
    <textarea 
        type="text"
        [(ngModel)]="post.content"
        name="content"
        placeholder="Content" 
        class="form-control" 
        id="exampleFormControlTextarea1" 
        rows="3">
    </textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="Create()">Create</button>
</form>