<app-nav-menu></app-nav-menu>
<div>
    <div>
        <h3>Author: {{username}}</h3>
        <div class="container">
            <input
                type="text"
                [(ngModel)]="post.title"
                name="title"
                placeholder="title"
            />
        </div>
        <div class="container" style="background-color:white">
            <input
                type="text"
                [(ngModel)]="post.content"
                name="content"
                placeholder="content"
            />
    </div>
    <button type="submit" (click)="Create()">Create</button>
    <hr>
</div>